.footer {
  background-color: #797676;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__mobile-break {
  display: none;
}