.navbar {
  background-color: #797676;
  padding: 1rem 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
}

.navbar__title {
  align-items: center;
  display: flex;
  gap: .5rem;
}